<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="../static/main.js" defer></script>
    <title>Document</title>
  </head>

  <body>
    <header></header>
    <form action="" id="form">
      <input type="file" id="file-input" />
      <button type="submit">送信する</button>
    </form>
  </body>
</html>
