<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script
      src="{{ url_for('static', filename='scripts/main.js') }}"
      defer
    ></script>
    <title>Document</title>
  </head>

  <body>
    <header>
      <h1>ここにh1タイトル</h1>
      <ul>
        <li>
          <a>一つ目</a>
        </li>
        <li>
          <a>二つ目</a>
        </li>
      </ul>
    </header>
    <main>
      <form action="" id="form">
        <input type="file" id="file-input" />
        <button type="submit">送信する</button>
      </form>
      <a href="./show">画像を見る</a>
    </main>
  </body>
</html>
