<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='show.css') }}" />
    <title>Document</title>
</head>

<body>
    <header>
        <h1>ここにh1タイトル</h1>
        <ul>
            <li>
                <a>一つ目</a>
            </li>
            <li>
                <a>二つ目</a>
            </li>
        </ul>
    </header>
    <main>
        <ul>
            <li>
                <img src="../static/images/6632749D-F045-4866-89A2-88EDF54477E5.jpeg">
                <div class="file-name">ファイルの名前</div>
            </li>
            <li>
                <img src="../static/images/6632749D-F045-4866-89A2-88EDF54477E5.jpeg">
                <div class="file-name">ファイルの名前</div>
            </li>
        </ul>
    </main>

</body>

</html>